<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>v-for使用方法</div>
        <hr>
        <div>遍历多个对象</div>
        <div>遍历多个对象一定遍历的是数组</div>
        <div>case:</div>
        <!-- v-for 写在要遍历的元素上 v-for="自定义遍历 in 数组" -->
        <ul>
            <li v-for="method in vueMethods">{{method.name}}</li>
        </ul>

        <div>带索引的写法</div>
        <ul>
            <li v-for="(method,index) in vueMethods">{{method.name}} - {{index}}</li>
        </ul>

        <hr>
        <div>遍历一个对象的多个属性</div>
        <ul>
            <li v-for="value in userInfo">{{value}}</li>
        </ul>
        <div>拿到 value key index的写法</div>

        <div v-for="(value,key, index) in userInfo">{{index}} {{key}} {{value}}</div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.5.16/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                vueMethods: [
                    // 每个对象对应一个li
                    { name: '思考' },
                    { name: '练习' },
                    { name: '实践' },
                ],
                userInfo: {
                    name: 'ly',
                    age: 22,
                    gender: 'man'
                }



            }
        })
    </script>
</body>

</html>